body{
    font-family: monospace;
    background-color: rgb(24, 24, 24);
    color: white;
}
.hiden{
    display: none;
}
.g{
    color: #4ec98f;
}
.bl{
    color: black;
}
.b{
    color: #7bdcf0;
}
.lb{
    color: #569cd6;
}
.a{
    color: #b5cea8;
}
.db{
    color: #569cd6;
}
.p{
    color: #c586c0;
}
.y{
    color: #ffd700;
}
.ly{
    color: #dcdcaa;
}
.dg{
    color: #5e993e;
}
.w{
    color: white;
}
.o{
    color: #ac916a;
}
a{
    color: white;
}